<h1>ADD Recipe</h1>
<form action="/recipes/new" method="post">
  <div class="form-group">
    <label for="name">Name: </label>
    <input id="name" name="name" type="text"  class="form-control">
  </div>

  <!-- Add ingredients -->
  <%  if @ingredients.any?()  %>
  <h4>Select the ingredients or add new</h4>
    <% @ingredients.each() do |ingredient| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="ingredients_ids[]" value="<%= ingredient.id() %>"><%= ingredient.name()%>
        </label>
      </div>
      <% end %>
  <% else %>
    <h5>No ingredients available, can you please add your ingredients</h5>
    <!-- <a href="/ingredients/new" class = "btn btn-success active" role = "button">Add ingredients</a> -->
  <% end %>






  <div class="form-group">
    <label for="instruction">Instruction</label>
    <textarea class="form-control" id="instruction" name="instruction" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <select class="form-control" id="rating" name="rating">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<% if (@new_recipe != nil ) && (@new_recipe.errors().any?()) %>
  <h3>Oops there were some errors:</h3>
  <ul>
    <% @new_recipe.errors().full_messages().each() do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
